@media screen and (min-width:1025px) {

    .aboutBlock {
        background-color: #E3DDC9;
        padding: 30px;
    }

    .aboutBlockContent {
        display: flex;
        margin: 0% 20% 0% 20%;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
    }

    .infoBlock {
        width: 40%;
    }

    .photoElla {
        width: 40%;
    }

    .additionalInfoBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .additionalInfoBlockEducation,
    .additionalInfoBlockExperience,
    .additionalInfoBlockArt {
        margin: 50px 0px;
        padding: 15px;
        background-color: #E3DDC9;
        height: 285px;
        width: 285px;
    }

    .additionalInfoBlockEducation:hover,
    .additionalInfoBlockExperience:hover,
    .additionalInfoBlockArt:hover {
        background-color: #D2D3BF;
    }

    .btnToTheLessons2 {
        visibility: hidden;
    }

    .logo1 {
        width: 70px;
    }

    .linkBlock {
        margin: 40px;
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media screen and (max-width:1700px) {
    .aboutBlock {
        background-color: #E3DDC9;
        padding: 30px;
    }

    .aboutBlockContent {
        display: flex;
        margin: 2% 10% 2% 10%;
        gap: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: center;
    }

    .additionalInfoBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .additionalInfoBlockEducation,
    .additionalInfoBlockExperience,
    .additionalInfoBlockArt {
        margin: 50px 0px;
        padding: 15px;
        background-color: #E3DDC9;
        height: 285px;
        width: 285px;
    }

    .additionalInfoBlockEducation:hover,
    .additionalInfoBlockExperience:hover,
    .additionalInfoBlockArt:hover {
        background-color: #D2D3BF;
    }

    .btnToTheLessons2 {
        visibility: hidden;
    }

    .logo1 {
        width: 70px;
    }

    .linkBlock {
        margin: 40px;
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width:1280px) {
    .logo1 {
        width: 70px;
    }

    .photoElla {
        padding-top: 3%;
    }

    .aboutBlockContent {
        display: flex;
        margin: 2% 5% 2% 5%;
    }

    .linkBlock {
        margin: 40px;
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .aboutBlock {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        background-color: #E3DDC9;
        padding: 30px;
    }

    .additionalInfoBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .additionalInfoBlockEducation,
    .additionalInfoBlockExperience,
    .additionalInfoBlockArt {
        margin: 30px 0px;
        padding: 15px;
        background-color: #E3DDC9;
        height: 350px;
        width: 245px;
    }
}

@media screen and (max-width:1024px) {
    .logo1 {
        width: 70px;
    }

    .photoElla {
        height: 200px;
    }

    .aboutBlockContent {
        display: flex;
        margin: 2% 5%;
    }

    .infoBlock {
        width: 50%;
    }
}

@media screen and (max-width:800px) {
    .aboutBlockContent {
        display: flex;
        margin: 0% 5%;
        gap: 30px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .logo1 {
        width: 70px;
    }

    .infoBlock {
        width: 80%;
    }

    .additionalInfoBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .additionalInfoBlockEducation,
    .additionalInfoBlockExperience {
        margin: 20px 0px;
        padding: 15px;
        background-color: #E3DDC9;
        height: 350px;
        width: 250px;
    }

    .additionalInfoBlockArt {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        padding: 15px;
        background-color: #E3DDC9;
        height: 350px;
        width: 250px;
    }

    .additionalInfoBlock {
        margin-bottom: 10%;
    }
}

@media screen and (max-width:420px) {
    .aboutBlockContent {
        display: flex;
        margin: 0% 3%;
    }

    .logo1 {
        width: 60px;
    }

    .infoBlock {
        width: 80%;
    }

    .photoElla {
        height: 160px;
    }

    .aboutBlockContent {
        gap: 20px;
        margin-left: 35px;
    }

    .infoBlock {
        margin-left: 10px;
        width: 250px;
    }

    .additionalInfoBlockEducation,
    .additionalInfoBlockExperience,
    .additionalInfoBlockArt {
        margin: 4% 4%;
        height: 350px;
        width: 280px;
    }
}