@media screen and (min-width:1431px) {
    .sizeBlocktestimonials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1% 20% 1% 20%;
    }

    .testimonials {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .testimonialsBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .testimonialsBlockElement {
        padding: 15px;
        background-color: #9EA857;
        height: 460px;
        width: 360px;
        border-radius: 5px;
    }

    .testimonialsBlockElement:hover {
        background-color: #B5B758;
    }

}

@media screen and (max-width:1430px) {

    .sizeBlocktestimonials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1% 20% 1% 20%;
    }

    .testimonials {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .testimonialsBlock {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .testimonialsBlockElement {
        padding: 15px;
        background-color: #9EA857;
        height: 460px;
        width: 360px;
        border-radius: 5px;
    }

    .testimonialsBlockElement:hover {
        background-color: #B5B758;
    }
}

@media screen and (max-width:1024px) {

    .testimonialsBlockElement {
        padding: 15px;
        background-color: #9EA857;
        height: 460px;
        width: 360px;
        border-radius: 5px;
    }

    .testimonialsBlockElement:hover {
        background-color: #B5B758;
    }
}

@media screen and (max-width:800px) {

    .sizeBlocktestimonials {
        margin: 1% 15% 1% 15%;
    }

    .testimonialsBlockElement {
        padding: 15px;
        background-color: #9EA857;
        height: 400px;
        width: 300px;
        border-radius: 5px;
    }
}

@media screen and (max-width:420px) {

    .sizeBlocktestimonials {
        margin: 1% 10% 1% 10%;
    }

    .testimonialsBlockElement {
        padding: 15px;
        background-color: #9EA857;
        height: 350px;
        width: 250px;
        border-radius: 5px;
    }

}