body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Akvitania_Modern";
  src: local(" Akvitania_Modernan "),
    url("./img/Akvitania_Modern.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Peace_Sans";
  src: local("Peace_Sans"),
    url("./img/Peace_Sans.otf") format("otf");
  font-weight: bold;
}